section.about
    .container
        .about__content
            h1.title.about__title Эксклюзивная #[span фотосессия] при полете #[br] на вертолете
            .about__popup
                include ./popup
            .about__controls
                button.button.about__button(type="button") Забронировать место