section.description
	.container
		.description__content
			.description__column
				h3.title.title--size--subtitle Об организаторе:
				.description__text
					p.description__text-welcom Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
					p.description__text-main Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
				button.description__button.button(type="button") Читать еще
				h3.title.title--size--subtitle Что я предоставлю:
				.description__text
					p.description__text-main Встречу вас на машине после длительного перелёта.  Качественный подбор места и локации для вашей съемки.  При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае ! 
				button.description__button.button(type="button") Читать еще
			.description__column
				include /user




