section.gallery
	.container
		.gallery__content
			h3.title.title--size--subtitle.gallery__title Фотографии пакета
			.gallery__box
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic1.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic2.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic3.jpg', '.gallery__pic', 'Фотография пакета', '')
				.gallery__img
					+image('gallery/pic4.jpg', '.gallery__pic', 'Фотография пакета', '')
			.gallery__controls
				button.button.button-link#button-gallary(type="button") Показать все фото



