header.header
	.container
		.header__container.container
			.header__container
				.header__logo HELYFLY
				.header__city Москва
				.header__contacts
					a.header__phone(href="tel: 8(800)-123-12-12") #[span Телефон]: 8(800)-123-12-12
				.header__menu
					svg.footer__icon-payment
						use(xlink:href='/assets/img/icons/user-lg.svg#user-lg')

