.raiting
	.raiting__box
		svg.raiting__icon-pic
			use(xlink:href='/assets/img/icons/Groupcup.svg#cup')
	.raiting__box
		.raiting__text Более #[b 50] отзывов с оценкой
		.raiting__stars
			+image("icons/raiting-stars.png", 'reviews__rating-pic', 'Звезды рейтинга', '')