section.reviews
	.container
		.reviews__content
			h3.title.title--size--subtitle.reviews__title Отзывы
			ul.reviews__list
				li.reviews__item
					.reviews__avatar
						+image('reviews/reviews1.png', 'reviews__pic', 'Фотография пользователя', '')
					.reviews__desc
						.reviews__name Валерия Антонова
						.reviews__position Арт-директор
						.reviews__rating
							.reviews__rating-star
								+image("icons/raiting-stars.png", 'reviews__rating-pic', 'Звезды рейтинга', '')
							.reviews__rating-title Супер! Я бы заказала съемку снова!
						p.reviews__text Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
						.reviews__date 27 Апреля, 2019г.
				li.reviews__item
					.reviews__avatar
						+image('reviews/reviews2.png', 'reviews__pic', 'Фотография пользователя', '')
					.reviews__desc
						.reviews__name Виталий Петров
						.reviews__position Фотограф
						.reviews__rating
							.reviews__rating-star
								+image("icons/raiting-stars.png", 'reviews__rating-pic', 'Звезды рейтинга', '')
							.reviews__rating-title Супер! Я бы заказала съемку снова!
						p.reviews__text Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!
						.reviews__date 19 Апреля, 2019г.
				li.reviews__item
					.reviews__avatar
						+image('reviews/reviews3.png', 'reviews__pic', 'Фотография пользователя', '')
					.reviews__desc
						.reviews__name Джим Керри
						.reviews__position Арт-директор
						.reviews__rating
							.reviews__rating-star
								+image("icons/raiting-stars.png", 'reviews__rating-pic', 'Звезды рейтинга', '')
							.reviews__rating-title Супер! Я бы заказала съемку снова!
						p.reviews__text Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
						.reviews__date 27 Апреля, 2019г.
				li.reviews__item
					.reviews__avatar
						+image('reviews/reviews4.png', 'reviews__pic', 'Фотография пользователя', '')
					.reviews__desc
						.reviews__name Валерия Антонова
						.reviews__position Арт-директор
						.reviews__rating
							.reviews__rating-star
								+image("icons/raiting-stars.png", 'reviews__rating-pic', 'Звезды рейтинга', '')
							.reviews__rating-title Супер! Я бы заказала съемку снова!
						p.reviews__text Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
						.reviews__date 27 Апреля, 2019г.
			.reviews__control
				button.button.button-link#button-reviews(type="button") Показать Все
					.button__inner ()

