.socials
	ul.socials__list
		li.socials__item
			a.socials__link(href='##')
				svg.socials__icon-vk
					use(xlink:href='/assets/img/icons/vk.svg#vk')
		li.socials__item
			a.socials__link(href='##')
				svg.socials__icon-fb
					use(xlink:href='/assets/img/icons/Facebook.svg#fb')
		li.socials__item
			a.socials__link(href='##')
				svg.socials__icon-inst
					use(xlink:href='/assets/img/icons/inst.svg#inst')