.user
	.user__avatar
		+image('reviews/reviews4.png', 'user__pic', 'Фотография фотографа', '')
	.user__desc
		.user__name Марина Иванова
		.user__position Фотограф
		button.button.user__button(type="button") Показать больше информации о фотографе
		svg.user__icon
			use(xlink:href='/assets/img/icons/Vectorheart.svg#heart')