// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 500;
$boldFontWeight          : 700;
$extraBoldFontWeight     : 800;
$blackFontWeight         : 900;
$mainLineHeight          : 1.4;

$desktop                 : 1280px;
$laptop                  : 1024px;
$tablet                  : 768px;
$phone                   : 480px;
$phone-m                 : 320px;

// Main color
$white                   : #ffffff;
$orange                  : #FC9B09;
$black                   : #37373F;
$blue                    : #5286EC;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$gray                    : #999999;
$light-gray              : #B3B3B3;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #C7C7C7;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
