.map {
  padding-top: rem(80);


  &__content {
    min-height: 520px;
    position: relative;
  }

  &__widget {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 520px;
  }
}


