.player {

  &__wrapper {
    border-radius: 2px;
    overflow: hidden;
    background-image: url('/assets/img/video_prev.png');
    background-position: center;
  }

  &__yt-player {

  }

  &__pic {
    width: 580px;
  }
}
