.socials {

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: rem(30);

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon-vk {
    width: 25px;
    height: 16px;
  }

  &__icon-fb {
    width: 26px;
    height: 26px;
  }

  &__icon-inst {
    width: 26px;
    height: 26px;
  }
}